
.main {
	background-color: #F1F1F1;
}

.post {
	background-color: #FFF;
}

.post__head-img {
	background-image: url("http://static1.squarespace.com/static/5383c881e4b0ac7f7a7d71f5/5489d3b2e4b0e3e6a99e5ce4/54affa44e4b08ecdf7a26b79/1420819015239/Benches.jpg?format=1500w");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	height: 400px;
}

.post__footer {
	background-color: #F7F7F7;
	padding: 20px 0;
}

.post__footer ul {
	text-align: center;
	padding: 0;
}

.post__footer li {
	list-style-type: none;
	display: inline;
	padding: 0 20px;
}

.sidebar__nav ul {
	padding: 0;
}

.sidebar__nav li {
	list-style-type: none;
	border-bottom: 1px solid #888;
}

.sidebar__nav li:last-child {
	border-bottom: none;
}